[submodule "backend"]
	path = backend
	url = https://github.com/aube-labs-dev/photo-bridge-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/aube-labs-dev/photo-bridge-frontend.git
